.delhi {
  display: flex;
  flex-direction: column;
}

.delhi1 {
  display: flex;
  flex-direction: row;
}

.delhi2 {
  display: flex;
  flex-direction: row;
}

.dcard {
  width: 530px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1b24;
  flex-direction: column;
}

.pcard:hover {
  border: 2px solid #bb86fc;
}
