.hyderabad {
  display: flex;
  flex-direction: column;
}

.hyderabad1 {
  display: flex;
  flex-direction: row;
}

.hyderabad2 {
  display: flex;
  flex-direction: row;
}

.hcard {
  width: 530px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1b24;
  flex-direction: column;
}

.hcard:hover {
  border: 2px solid #bb86fc;
}
