.nagpur {
  display: flex;
  flex-direction: column;
}

.ncard {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1b24;
  flex-direction: column;
}

.ncard:hover {
  border: 2px solid #bb86fc;
}
